@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.add-training-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 64px;
    height: 64px;
    background-color: #0099ff;
    border-radius: 50%;
    overflow: hidden;
}
