@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.add-training-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 64px;
    height: 64px;
    background-color: #0099ff;
    border-radius: 50%;
    overflow: hidden;
}

#full-size-stats {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 1.8rem;
    background: url('/storage/images/stats-bg.jpg');
    background-size: cover;
    z-index: 10;
}

#full-size-stats::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
    align-items: center;
}

#full-size-stats > div {
    position: relative;
    z-index: 12;
}

#full-size-stats h1 {
    color: #fff;
    font-size: 2.3em;
    margin-bottom: 1.5rem;
}

#full-size-stats h2 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 2rem;
}

#full-size-stats h2 span {
    font-size: 0.5em;
    display: block;
}

#full-size-stats h3 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 2rem;
}

select, input {
    max-width: 100%;
}

.body-parts-wrapper {
    max-width: 100%;
    overflow: auto;
    margin-bottom: 0.5rem;
}

.body-parts {
    display: flex;
}

.body-parts button {
    order: 0;
}

.body-parts button.active {
    order: -1;
    color: #fff;
    background-color: #0099ff;
}

.body-parts button  {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #fff;
    margin: 0.25rem;
    white-space: nowrap;
    display: inline-block;
    transition: all 0.2s ease;
    text-transform: uppercase;
}
